table {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(102, 27, 0);
    background-color: green;
}

th {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: rgb(177, 216, 133);
    color: rgb(79, 0, 82);
    text-align: center;
    font-size: 25px;
}

td {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: rgb(131, 131, 71);
    text-align: center;
    color: rgb(102, 0, 0);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://images6.alphacoders.com/453/453624.jpg);
}

h1 {
    text-align: center;
    color: rgb(120, 21, 129);
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0px;
}

p {
    font-size: 50px;
    letter-spacing: 5px;
    color: rgb(3, 40, 141);
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
    text-align: center;
    color: rgb(6, 129, 68);
    font-size: 50px;
}

li {
    display: inline-block;
    font-family: 'Lobster', cursive;
}

nav {
    text-align: center;
    word-spacing: 50px;
}

form {
    padding-bottom: 100px;
    color: rgb(146, 144, 9);
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

legend {
    font-size: 50px;
    color: lightcoral;
}

fieldset :nth-child(2) {
    padding-right: 183px;
}

fieldset :nth-child(4) {
    padding-left: 100px;
}

fieldset :nth-child(9) {
    padding-left: 100px;
    padding-right: 66px;
}

button {
    font-size: 60px;
    color: lightcoral;
    background-color: rgb(6, 69, 80);
    padding: 0px 570px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

label {
    padding-right: 10px;
}